.h_80px{
  height: 80px;
}
.h_250px{
  height: 250px;
}
.h_350px{
  height: 350px;
}

.bg-C{
  background-color:rgb(241, 243, 233) ;
}

.bg-card{
  background-color: rgb(194, 223, 161);
}

.Card{
cursor: pointer;
transition: 1.2s;

&:hover{
  transform: scale(1.1);
}
}

button
{
  transform: translateX(-50%);
  bottom: 30px;

  &:hover{
  background-color: black;
  color: green;
  }
}
