<div class="cont1">
  <header class="container py-5">
    <div class="row pt-5">
      <div class="col-12 col-md-6">
        <div class="image h-100 w-100">
          <img class="h-100 w-100" src="../../../assets/images/travela02.png" alt=""/>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="pt-5 ms-4">
          <div class="image mb-4">
            <img src="../../../assets/images/travela03.png" alt="leaf">
          </div>
          <div>
            <p class="fw-bold fs-5 ff">Best Quality Products</p>
            <h1 class="fw-bold display-4  ff">Join The Organic <br> Movement!</h1>
            <p class="mt-4 text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
            <button class="btn text-white main_bg mt-4 py-2 px-4"> <i class="fa-solid fa-cart-shopping"></i> SHOP NOW </button>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

<div class="cont2 bg-black">
  <section class="container">
    <div class="row py-5">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="me-1 bg-p d-flex justify-content-center py-4 mt-3 mt-lg-0">
          <div >
            <i class="fa-solid fa-truck-fast main_color fs-3 mt-2 me-3"></i>
          </div>
          <div class="text-white">
            <h4>Free Shipping</h4>
            <p>Above $5 Only</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="me-1 bg-p d-flex justify-content-center py-4 mt-3 mt-lg-0">
          <div>
            <i class="fa-solid fa-address-book main_color fs-3 mt-2 me-3"></i>
          </div>
          <div class="text-white">
            <h4>Certified Organic</h4>
            <p>100% Guarantee</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="me-1 bg-p d-flex justify-content-center py-4 mt-3 mt-lg-0">
          <div>
            <i class="fa-solid fa-money-bill main_color fs-3 mt-2 me-3"></i>
          </div>
          <div class="text-white">
            <h4>Huge Savings</h4>
            <p>At Lowest Price</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="me-1 bg-p d-flex justify-content-center py-4 mt-3 mt-lg-0">
          <div>
            <i class="fa-solid fa-rotate-left main_color fs-3 mt-2 me-3"></i>
          </div>
          <div class="text-white">
            <h4>Easy Returns</h4>
            <p>No Questions Asked</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="cont3 py-5">
  <section class="container py-5">
    <div class="mainTitle text-center">
      <div><h2 class="ff fw-bold display-6">Best Selling Products</h2></div>
      <div class="mt-4">
        <img src="../../../assets/images/travela03.png" alt="leaf">
      </div>
    </div>

    <div class="row mt-5 py-5">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="bg-mu me-2 mt-4 mt-lg-0">
          <div class="h-100 w-100">
            <img class="h-100 w-100" src="../../../assets/images/travela04.jpg" alt="product">
          </div>
          <div class="text-center py-3">
            <p>Groceries</p>
            <h5 class="main_color">Assorted Coffee</h5>
            <div>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <p>£35.00</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="bg-mu me-2 mt-4 mt-lg-0">
          <div class="h-100 w-100">
            <img class="h-100 w-100" src="../../../assets/images/travela05.jpg" alt="product">
          </div>
          <div class="text-center py-3">
            <p>Groceries</p>
            <h5 class="main_color">Hand Sanitizer</h5>
            <div>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <p>£15.00</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="bg-mu me-2 mt-4 mt-lg-0">
          <div class="h-100 w-100">
            <img class="h-100 w-100" src="../../../assets/images/travela06.jpg" alt="product">
          </div>
          <div class="text-center py-3">
            <p>Groceries</p>
            <h5 class="main_color">Handpicked Red Chillies</h5>
            <div>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <p>£19.00</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="bg-mu me-2 mt-4 mt-lg-0">
          <div class="h-100 w-100">
            <img class="h-100 w-100" src="../../../assets/images/travela07.jpg" alt="product">
          </div>
          <div class="text-center py-3">
            <p>Groceries</p>
            <h5 class="main_color">Natural Extracted Edible Oil</h5>
            <div>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <p class="me-2 text-black-50 text-decoration-line-through">£34.00</p>
              <p>£25.00</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>

<div class="cont4 py-5">
  <section class="container py-5 position-relative">
    <div class="leaf position-absolute">
      <img class="w-100 h-100" src="../../../assets/images/travela08.png" alt="leaf">
    </div>

    <div class="row mt-5">
      <div class="col-12 col-md-6 col-lg-4 mt-3 mt-lg-0">
        <div class="bg-white py-4 px-5 rounded-3 Card">
          <div>
            <h3 class="ff main_color mb-3">Farm Fresh Fruits</h3>
            <p class="text-muted my-3">Ut sollicitudin quam vel purus tempus, vel eleifend felis varius.</p>
            <button class="btn main_bg text-white px-5 py-2"> <i class="fa-solid fa-right-long"></i> SHOP NOW </button>
          </div>
          <div class="position-relative  w-170px h-150px">
            <img class="h-100 w-100 position-absolute start-50" src="../../../assets/images/G1.png" alt="">
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mt-3 mt-lg-0">
        <div class="bg-white py-4 px-5 rounded-3 Card">
          <div>
            <h3 class="ff main_color mb-3">Fresh Vegetables</h3>
            <p class="text-muted my-3">Aliquam porta justo nibh, id laoreet sapien sodales vitae justo.</p>
            <button class="btn main_bg text-white px-5 py-2"> <i class="fa-solid fa-right-long"></i> SHOP NOW </button>
          </div>
          <div class="position-relative  w-170px h-150px">
            <img class="h-100 w-100 ms-5 position-absolute start-50" src="../../../assets/images/G2.png" alt="">
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mt-3 mt-lg-0">
        <div class="bg-white py-4 px-5 rounded-3 Card">
          <div>
            <h3 class="ff main_color mb-3">Organic Legume</h3>
            <p class="text-muted my-3">Phasellus sed urna mattis, viverra libero sed, aliquam est.</p>
            <button class="btn main_bg text-white px-5 py-2"> <i class="fa-solid fa-right-long"></i> SHOP NOW </button>
          </div>
          <div class="position-relative w-170px h-150px">
            <img class="h-100 w-100 ms-5 position-absolute start-50" src="../../../assets/images/G3.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="cont5 bg-black">
  <section class="container py-5">
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="text-white ff ">Get 25% Off On Your First Purchase!</h2>
      <button class="btn main_bg text-white px-4 py-2"> <i class="fa-solid fa-right-long"></i> SHOP NOW </button>
    </div>
  </section>
</div>

<div class="cont6 py-5">
  <section class="container py-5">
    <div class="mainTitle text-center">
      <div><h2 class="ff fw-bold display-6">Trending Products</h2></div>
      <div class="mt-4">
        <img src="../../../assets/images/travela03.png" alt="leaf">
      </div>
    </div>

    <div class="row mt-5 py-5">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="bg-mu me-2 mt-4 mt-lg-0">
          <div class="h-100 w-100">
            <img class="h-100 w-100" src="../../../assets/images/travela04.jpg" alt="product">
          </div>
          <div class="text-center py-3">
            <p>Groceries</p>
            <h5 class="main_color">Assorted Coffee</h5>
            <div>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <p>£35.00</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="bg-mu me-2 mt-4 mt-lg-0">
          <div class="h-100 w-100">
            <img class="h-100 w-100" src="../../../assets/images/travela09.jpg" alt="product">
          </div>
          <div class="text-center py-3">
            <p>Juice</p>
            <h5 class="main_color">Fresh Orange Juice</h5>
            <div>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <p>£18.00</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="bg-mu me-2 mt-4 mt-lg-0">
          <div class="h-100 w-100">
            <img class="h-100 w-100" src="../../../assets/images/travela05.jpg" alt="product">
          </div>
          <div class="text-center py-3">
            <p>Groceries</p>
            <h5 class="main_color">Hand Sanitizer</h5>
            <div>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <p>£15.00</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="bg-mu me-2 mt-4 mt-lg-0">
          <div class="h-100 w-100">
            <img class="h-100 w-100" src="../../../assets/images/travela06.jpg" alt="product">
          </div>
          <div class="text-center py-3">
            <p>Groceries</p>
            <h5 class="main_color">Handpicked Red Chillies</h5>
            <div>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <p>£19.00</p>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>

<div class="cont7 py-5">
  <section class="container pt-5 pb-2">
    <div class="mainTitle text-center">
      <div><h2 class="ff fw-bold display-6">Customers Reviews</h2></div>
      <div class="mt-4">
        <img src="../../../assets/images/travela03.png" alt="leaf">
      </div>
    </div>

    <div class="row mt-5 pt-5 ">
      <div class="col-12 col-md-4 d-flex align-items-end">
        <div class="text-center px-5 bg-white py-5 rounded-3 shadow-lg mt-4">
          <div class="my-3">
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
          </div>
          <div class="my-4">
            <p>
              Click edit button to change this text.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
            </p>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <div class="me-3">
              <img src="../../../assets/images/travela10.png" alt="image">
            </div>
            <p>Mila Kunis</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="mainCard shadow-lg text-center text-white rounded-3  mt-4 ">
          <div class="py-5 rounded-3">
            <h2 class="pb-4 ff">Deal Of The Day <br> 15% Off On All <br> Vegetables!</h2>
            <p class="mb-5">I am text block. Click edit button to <br> change this tex em ips.</p>
            <button class="btn main_bg text-white px-4 py-2 mt-5"> <i class="fa-solid fa-right-long"></i> SHOP NOW </button>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4  position-relative bottom-0 d-flex align-items-end">
        <div class="text-center px-5 bg-white py-5 rounded-3 shadow-lg mt-4">
          <div class="my-3 py-md-4 py-lg-0">
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
          </div>
          <div class="my-4">
            <p>
              Click edit button to change this text.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
            </p>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <div class="me-3">
              <img src="../../../assets/images/travela11.png" alt="image">
            </div>
            <p>Mike Sendler</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5 pt-5 text-center">
      <div class="col-12 col-md-4 col-lg-2 d-flex justify-content-center align-items-center">
        <div class="bg-d my-3 my-lg-0 ">
          <h4>Featured Brands:</h4>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-2">
        <div class="my-3 my-lg-0">
          <img src="../../../assets/images/travela12.svg" alt="image">
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-2">
        <div class="my-3 my-lg-0">
          <img src="../../../assets/images/travela13.svg" alt="image">
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-2">
        <div class="my-3 my-lg-0">
          <img src="../../../assets/images/travela14.svg" alt="image">
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-2">
        <div class="my-3 my-lg-0">
          <img src="../../../assets/images/travela15.svg" alt="image">
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-2">
        <div class="my-3 my-lg-0">
          <img src="../../../assets/images/travela16.svg" alt="image">
        </div>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>

